body{
    font-family: 'Space Mono';
    background-color: hsl(185, 41%, 84%); 
    font-weight: 700;
}  

.outside {
    margin-left: 46%;
    margin-top: 100px;
    margin-bottom: 100px;;
}

.container{ 
    display: flex; 
    flex-direction: row;
    background-color: white;
    padding: 20px; 
    border-radius: 20px; 
    width: 50%;
    margin: auto;
} 

.leftbox{ 
    display: flex; 
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
}

.bill{
    font-size: 10px;
    margin-bottom: 5px;
    font-family: 'Space Mono';
    color: hsl(186, 14%, 43%);
}

.inputbox{ 
    display: flex; 
    flex-direction: column;
    margin-bottom: 20px;
}

.tipselects{
    font-size: 11px;
    margin-bottom: 5px;
    font-family: 'Space Mono';
    color: hsl(186, 14%, 43%);
}

.tips{  
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 9px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.tip{
    border: 0px;
    width: 72px;
    height: 30px;
    background-color: hsl(183, 100%, 15%);
    color: white;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Space Mono';
    padding: 0px;
    text-align: center;
}

.custom{
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    width: 72px;
    height: 30px;
    border: 0px;
    padding: 0px;
    border-radius: 3px;
    text-align: center;
    font-family: 'Space Mono';
    font-weight: 700;
}

.userinput::placeholder,
.custom::placeholder{
    color: hsl(183, 100%, 15%);
    text-align: center;
}

.custom:focus {
    border: 2px solid hsl(172, 67%, 45%);
    outline: none;
}
.userinput {
    background-color: hsl(189, 41%, 97%);
    border: 0px;
    height: 25px;
    border-radius: 3px;
    text-align: right;
    color:hsl(183, 100%, 15%);
    background-image: url('images/icon-dollar.svg');
}

.userinput:focus {
    border: 2px solid hsl(172, 67%, 45%);
    outline: none;
}

.tip:hover {
    background-color: hsl(185, 41%, 84%);
    color:hsl(183, 100%, 15%);
}

.tip:active {
    background-color: hsl(172, 67%, 45%);

}

.people{
    font-size: 10px;
    margin-bottom: 5px;
    font-family: 'Space Mono';
    color: hsl(186, 14%, 43%);
}

.rightbox{
    display: flex; 
    flex-direction: column;
    flex: 1; 
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
}

.tip_amount{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.tip-text-box{
    display: flex;
    flex-direction: column;
}

.tiptotal {
    font-size: 10px;
    margin: 0px;
    color: white;
}

.perperson {
    font-size: 8px;
    margin: 0px;
    color:hsl(185, 41%, 84%);
}
.total{
    display: flex;
    flex-direction: row;
}

.money {
    color: hsl(172, 67%, 45%);
    margin: 0px;
    font-size: 28px;
}

.reset{
    margin: 70px 25px 25px 25px;
    background-color: hsl(172, 67%, 45%);
    font-size: 14px;
    font-weight: 700;
    font-family: 'Space Mono';
    color: hsl(183, 100%, 15%);
    border-radius: 3px;
    border: 0px;
    height: 30px;
}

.reset:hover {
    background-color: hsl(185, 41%, 84%);
}

#billAmount {
    background-image: url('images/icon-dollar.svg');
}